# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
lib/bot/token.0
.env
.idea/.name
.idea/CowinBot.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
bot_log.txt
